.rojo {
    box-shadow: 10px 1px 400px 89px rgba(255, 0, 0, 0.75);
}

.amarillo {
    box-shadow: 10px 1px 400px 89px rgba(251,255,0,0.75);
}

.verde {
    box-shadow: 10px 1px 400px 89px rgba(43, 255, 0, 0.75);
}

.morado {
    box-shadow: 10px 1px 400px 89px rgba(146, 0, 190, 0.75);
}

